*.iml
.gradle
/local.properties
/app/src/main/res/values/api_keys.xml
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
**/build
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/app/app.properties
/app/english_sounds_key
/app/release
/app/src/main/res/values/ad_id.xml
/legacy/src/release/res/values/ad_id.xml
/ad/google/src/release/res/values/google_ad_id.xml
/ad/google/src/main/res/values/google_ad_id.xml
/app/src/release/google-services.json
/app/src/release/res/values/admob.xml
